body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}


main {
    padding: 30px;
    background-color: #000;
}

.input{
    display: block;
    width: 340px;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 50px;

    font-size: 30px;
    text-align: right;

    background-color: #000;
    color: #fff
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 36px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.apagar {
    display: flex;
}
.apagar > button {
    margin-left: 7px;
}

.apagar button {
    background-color: #A5A5A5;
}

.botoes {
    display: flex;
    position: relative;
}

.numeros {
    width: 280px;
}

.zero {
    width: 173px;
    border-radius: 120px;
    text-align: start;
    padding-left: 30px;
}

.calculos {
    width: 100px;
    position: absolute;
    right: -10px;
    bottom: 0px;
}

.num {
    background-color: #333333;
}

.num:hover {
    background-color: #8c8c8c;
}

.calc {
    background-color: #FF9F0C;
}

.calc:hover{
    background-color: #8c8c8c;
}

.erro {
    border: 0.5px solid red;
}

.calculo-selecionado {
    background-color: #fff;
    color: #FF9F0C;
}